S3method(as.data.frame,by)
S3method(shift,data.frame)
S3method(shift,default)
S3method(sort,data.frame)
export(as.data.frame.by)
export(as.matrix.by)
export(autoplot.microbenchmark)
export(between)
export(bin)
export(bytable)
export(categorize)
export(cleanTurked)
export(compareplot)
export(daysofweek)
export(destring)
export(distinct)
export(evens)
export(expandDF)
export(first)
export(fpart)
export(hist_horiz)
export(homogenous)
export(japply)
export(last)
export(latex.table.by)
export(middle.group)
export(odds)
export(panel.densityplot.enhanced)
export(panel.ecdf)
export(panel.xyplot_rug)
export(quantile_cutpoints)
export(readdir)
export(remove.factors)
export(rep_along)
export(reshapeasy)
export(round_sigfig)
export(roundnear)
export(searchPattern)
export(shift)
export(shift.data.frame)
export(shift.default)
export(sort.data.frame)
export(splitDF)
export(splitc)
export(stack.list)
export(title.page.new)
export(trues)
export(unsplitDF)
export(write.sanitized.csv)
export(xtable.lme)
export(xtable.summary.lme)
export(xtablelm)
